.profile__name {
    margin: 0;
    font-weight: 500;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    grid-area: name;
    font-size: 42px;
    line-height: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 450px;
}

@media screen and (max-width: 467px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }
}