.element__button-delete {
    position: absolute;
    right: 15px;
    top: 18px;
    width: 18px;
    height: 19px;
    background-image: url('../../../images/remove.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}

.element__button-delete:hover {
    opacity: 0.6;
}
