.popup__content {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 430px;
    background-color: #fff;
    border-radius: 10px;
    padding: 34px 36px;
    margin: 0 auto;
}

@media screen and (max-width:520px) {
    .popup__content {
        width: 282px;
        padding: 25px 22px;
    }
}